@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter Tracker!</h1>
<p>@Html.ActionLink("See all phyla", "Index", "Phylums")</p>
<p>@Html.ActionLink("See all animals", "Index", "Animals")</p> 